html {
    background-color: #F3F3F4;
    height: 100%;
}
body > div {
    text-align: center;
}
ul {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    background-color: white;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.05);
    padding: 1rem 2rem;
}
.done:before {
    content:"\2713\0020";
}
.done {
    color: #888888;
    text-decoration: line-through;
}
